<strong>Goal <%= goal_num + 1 %>. <%= goal.name %></strong>
<ul>
  <li>User: <%= goal.user.username %></li>
  <li><%= goal.description %></li>
  <li><%= goal.privacy %></li>
  <li><%= goal.completed %></li>
</ul>